<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <div class="brand-logo">
        <img src="../assets/images/logo.svg">
      </div>
      <h3 class="text-center mb-3"> Connectez-vous</h3>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Entrez votre email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password" class="form-control"
            placeholder="Entrez votre mot de passe" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Connectez-vous</button>
      </form>
      <p class="lead mt-4">
        Pas de compte? <a href="/users/register">Enregistrez-vous</a>
      </p>
    </div>
  </div>
</div>